/* Fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 100;
}

:root {
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
    --background-black: #21303a;
    --text-white-opacity: #ffffff99;

}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.button-primary {
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    text-transform: capitalize;
}

/* Sección del encabezado */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}

.nav-menu .page {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 2em;
    text-transform: capitalize;
}

.contacts-menu .item {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
    color: var(--accent-color);
    
}

/* Sección del Hero  */
.hero {
    background-color: var(--primary-black-color);
}

.hero .hero-title {
    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3em;
}

/* Sección del portafolio  */
.portfolio .list li button {
    color: var(--primary-black-color);
    background-color: var(--text-white-opacity);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-transform: capitalize;
}

.portfolio .list li button:hover,
.portfolio .list li button.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    color: var(--primary-black-color);
}

.portfolio-text {
    color: var(--primary-text-color);
}
/* Sección del pie de página */
footer {
    background-color: var(--background-black);
}

address .contact {
    color: var(--text-white-opacity);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

address .contact:hover {
    color: var(--primary-white-color);
}